
{% extends "collegeManagement/layout.html" %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark chat-head">
    <div class="container-fluid">
      <div class="navbar-header">
        <i class="material-icons" style="font-size:40px; width:50px; margin-top: 10px;">account_circle</i>
        <a href="#"><h3 style="display: inline; color: #F5E8E4;">{{ reciever.username }}</h3></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        {% if user.user_type == "3" %}
            <li><a href="{% url 'studentHome' %}" style="color:#F5E8E4; padding: 10px;"> Home</a></li>
        {% elif user.user_type == "1" %}
            <li><a href="{% url 'HODHome' %}" style="color:#F5E8E4; padding: 10px;"> Home</a></li>
        {% else %}
            <li><a href="{% url 'staffHome' %}" style="color:#F5E8E4; padding: 10px;"> Home</a></li>
        {% endif %} 
        <li><a href="{% url 'logout_user' %}" style="color:#F5E8E4; padding: 10px;"> LogOut</a></li>
      </ul>
    </div>
</nav>
    <hr class="border border-danger border-3 opacity-25">
    <!-- chat -->
    <div class="chating">
        {% for message in messages %}
            {% if message.sender.id == user.id %}
                <div class="left">
                    {% if message.message %}
                        {{message.message}}
                        <br>
                    {% endif %} 
                </div>
            {% else %}
                <div class="right">
                    <div class="right-message">
                        {% if message.message %}
                            {{message.message}}
                            <br>
                        {% endif %}
                    </div>
                </div>
            {% endif %} 
        {% endfor %}
        <!-- send -->
        <br>
        <br>
        <br> 
    </div>


    <div class="sending">
        <div id="send-error">

        </div>
        <form id="add-message" class="send" onsubmit="return chat();">
            <input type="text" name="message" id="chat-message" placeholder="Type a Message" autofocus>
            <!-- <input type ="file" name="file" style="width: 25%;" id="file"> -->
            <input type="hidden" name="id" value="{{reciever.id}}" id="chat-id">
            <input type="submit" value ="Send">
        </form>
    </div>



    <!-- <div class="sending">
        <form class="send">
            <input type="text" name="message" style="width: 60%;" id="message" autofocus>
            <input type ="file" name="file" style="width: 25%;" id="file">
            <input type="hidden" name="id" value="{{reciever.id}}" id="id">
            <input type="submit" value ="Send" style="width: 10%;">
        </form> 
    </div> -->
   
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            window.scrollTo(0, document.body.scrollHeight);
            // document.querySelector('.chating').style.height = document.body.offsetHeight;
            if (window.innerHeight+window.scrollY < document.body.offsetHeight){
                // alert("hi");
                document.querySelector('.chating').style.height = "fit-content";
            }

            const list = document.querySelector('.chating');
            // list.removeChild(list.lastElementChild);
            // list.removeChild(list.lastElementChild);
           
            
        })
    </script>
{% endblock %}