
{% extends "collegeManagement/students/studentsLayout.html" %}

{% block body %}
    <h1>View Course</h1>
    <hr class="border border-danger border-3 opacity-25">
    <div class="row announcement">
        {% for announcement in course_announcements %}
            <div class="col-sm-12">
                <strong>{{announcement.course.staff.admin.username}}</strong>
                <hr class="border border-danger border-3 opacity-25">
                {{announcement.announcement}}
                <br>
                <div style="display: flex; justify-content: flex-end;">
                    <strong style="color: rgb(155, 154, 154);">{{announcement.created_at}}</strong>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}