{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}College{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{% static 'collegeManagement/styles.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>	
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
<body>
    <!-- navigation bar -->
    <div class="row">
        <div class="col-sm-2 navigation">
            <!-- <div>
                {% if user.is_authenticated %}
                    Signed in as <strong>{{ user.username }}</strong>.
                {% else %}
                    Not signed in.
                {% endif %}
            </div> -->
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link navItem" href="{% url 'studentHome' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link navItem" href="{% url 'logout_user' %}">Log Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navItem" href="{% url 'chats' %}">Chats</a>
                    </li>
                    <!-- <li class="nav-item">
                      <a class="nav-link navItem" href="#">Time Table</a>
                  </li> -->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navItem" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Courses
                    </a>
                    <ul class="dropdown-menu menu">
                      <li><a class="dropdown-item" href="{% url 'enrolledCourses' %}">My Courses</a></li>
                      <li><a class="dropdown-item" href="{% url 'allCourses' %}">View Courses</a></li>
                      <li><a class="dropdown-item" href="{% url 'enrollment' %}">Enroll for Course</a></li>
                    </ul>
                </li>
                    <li class="nav-item">
                      <a class="nav-link navItem" href="{% url 'results' %}">View Results</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link navItem" href="{% url 'allAnnouncements' %}">Announcements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navItem" href="{% url 'studentLeave' %}">Apply For Leave</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navItem" href="{% url 'studentFeedback' %}">Send Feedback</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registration' %}">Register</a>
                    </li>
                {% endif %}
                
              </ul>
            <hr>
        </div>
        <div class="col-sm-10 content">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    
    <!-- JavaScript Bundle with Popper -->
    <script src="{% static 'collegeManagement/learning.js' %}"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
</html>




